<div class="dashboard-container">
    <div class="dashboard">
        
        @for (service of microservices | slice:(pageIndex * pageSize):(pageIndex * pageSize + pageSize); track microservices;){
            <app-health-card [service]="service" (onDeleteMicroService)="deleteMicroService($event)"></app-health-card>
        }

        <div>
            <mat-paginator
                [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="handlePageEvent($event)"
                aria-label="Select page">
          </mat-paginator>
        </div>
    </div>
</div>