.container{
   display: flex;
   justify-content: center;
   align-items: center;

    .dashboard{
        background-color: blue;
        height: 400px;
        width: 500px;
        padding: 40px 4%;
    }
}