.status-up {
  background-color: #25D366;
  color: #fff;
}

.status-down {
  background-color: red;
  color: #fff;
}

.cardStatus {
  width: 430px;
  height: 200px;
}

.cardStatus-footer {
  padding-top: 10px;
  margin-left: 13px;
}

mat-chip {
  text-decoration: none;
  color: #ffffff !important;
  background-color: white;
  border: 2px solid #ffffff;
}

.mat-mdc-standard-chip {
  --mdc-chip-label-text-color: #fff;
}

.faIcon{
  position: absolute;
  margin-left: 375px;
  cursor: pointer;
  transition: 1.2;
}

.faIcon:hover{
  transform: scale(1.2);
}
