.status-up {
    background-color: green;
    color: white;
  }
  
  .status-down {
    background-color: red;
    color: white;
  }
  
  .card {
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
  }
  