.container{
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 1366px; 

    .dashboard{
        height: 400px;
        width: 500px;
        padding: 40px 4%;
    }
}